html { font-size: 1rem;
       scroll-behavior: smooth; }

/*Responsize typography */
@media (min-width: 320px) {
    html { font-size: .5rem; }
}

@media (min-width: 576px) {
    html { font-size: .5rem; }
}
@media (min-width: 768px) {
    html { font-size: .75rem; }
}
@media (min-width: 992px) {
    html { font-size: 1rem; }
}
@media (min-width: 1200px) {
    html { font-size: 1.25rem; }
}

@media (min-width: 2160px) {
    html { font-size: 1.5rem; }
}
